<div class="container mt-5 col-md-6">
  <div class="row justify-content-center"> 
     <div class="col-md-8 col-lg-6">
    <h2 class="text-center">Add Bus Schedule</h2>
    <form #scheduleForm="ngForm" (ngSubmit)="onSubmit(scheduleForm)">
      <div class="form-group">
        <label for="bus">Bus</label>
        <select class="form-control" id="bus" name="busId" [(ngModel)]="scheduleData.busId" required>
          <option *ngFor="let bus of buses" [value]="bus.busId">{{ bus.busName }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="route">Route</label>
        <select class="form-control" id="route" name="routeId" [(ngModel)]="scheduleData.busRouteId" required>
          <option *ngFor="let route of busRoute" [value]="route.id">{{ route.id }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="arrivalTime">Arrival Time</label>
        <input class="form-control" type="time" id="arrivalTime" name="arrivalTime" [(ngModel)]="scheduleData.arrivalTime" required>
      </div>
  
      <div class="form-group">
        <label for="departureTime">Departure Time</label>
        <input class="form-control" type="time" id="departureTime" name="departureTime" [(ngModel)]="scheduleData.departureTime" required>
      </div>
  
  
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary mt-5 w-50" [disabled]="scheduleForm.invalid">
          Submit
        </button>
      </div>
      
    </form>
  </div>

  </div>
  </div>
  
