<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <img src="/logo.png" alt="registration" class="rounded-image">
        </div>
        <div class="col-12 text-center">
            <h1>Register Here!</h1>
        </div>
    </div>

    <div class="row">
        <div class="form-container">
            <form (ngSubmit)="submit()">
                <div class="form-group">
                    <div class="input-icon mb-3">
                        <i class="fas fa-user"></i>
                        <input [(ngModel)]="users.firstName" type="text" name="firstName" placeholder="First Name" required>
                    </div>
                    <div *ngIf="!users.firstName && submit" class="error show">
                        First Name is required.
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-icon mb-3">
                        <i class="fas fa-user"></i>
                        <input [(ngModel)]="users.lastName" type="text" name="lastName" placeholder="Last Name" required>
                    </div>
                    <div *ngIf="!users.lastName && submit" class="error show">
                        Last Name is required.
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-icon mb-3">
                        <i class="fas fa-envelope"></i>
                        <input [(ngModel)]="users.email" type="email" name="email" placeholder="Email" required>
                    </div>
                    <div *ngIf="!users.email && submit" class="error show">
                        Email is required.
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-icon mb-3">
                        <i class="fas fa-lock"></i>
                        <input [(ngModel)]="users.password" type="password" name="password" placeholder="Password" required>
                    </div>
                    <div *ngIf="!users.password && submit" class="error show">
                        Password is required.
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-icon mb-3">
                        <i class="fas fa-phone-alt"></i>
                        <input [(ngModel)]="users.phoneNo" type="number" name="phoneNo" placeholder="Phone No" required>
                    </div>
                    <div *ngIf="!users.phoneNo && submit" class="error show">
                        Phone Number is required.
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-icon mb-3">
                        <i class="fas fa-users"></i>
                        <select [(ngModel)]="users.role" name="role" required>
                            <option value="" disabled selected>Select Your Role</option>
                            <option value="CUSTOMER">CUSTOMER</option>
                            <option value="COMPANY">COMPANY</option>
                        </select>
                    </div>
                    <div *ngIf="!users.role && submit" class="error show">
                        Role is required.
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
