<div class="container mt-5">
    <h2>Add Bus Stop</h2>
    <form (ngSubmit)="onSubmit(busStopForm)" #busStopForm="ngForm">
      <!-- Bus Name -->
      <div class="mb-3">
        <label for="name" class="form-label">Bus Stop Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          [(ngModel)]="busStop.name"
          required
          placeholder="Enter bus stop name"
        />
      </div>
  
      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary" [disabled]="!busStopForm.form.valid">Add Bus Stop</button>
    </form>
  </div>
  
