<div class="container-fluid mt-5">
    <div class="row">
      <!-- Sidebar -->
      <nav class="col-md-2 d-none d-md-block bg-light sidebar slide-in-left">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#"><i class="fas fa-home"></i> Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-users"></i> Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-chart-bar"></i> Reports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-cog"></i> Settings</a>
            </li>
          </ul>
        </div>
      </nav>
  
      <!-- Main Content -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="row">
          <div class="col-md-3" (click)="getAllBusesByUserId()">
            <div class="card text-white bg-primary mb-3">
              <div class="card-body">
                <h5 class="card-title"><i class="fas fa-bus"></i> Your Buses</h5>
                <p class="card-text">See Your Buses Here!</p>
              </div>
            </div>
          </div>
  
          <div class="col-md-3" (click)="getAllVehicles()">
            <div class="card text-white bg-primary mb-3">
              <div class="card-body">
                <h5 class="card-title"><i class="fas fa-car"></i> Your Vehicles</h5>
                <p class="card-text">See Your Vehicles Here!</p>
              </div>
            </div>
          </div>
  
          <div class="col-md-3" (click)="getAllUserDetails()">
            <div class="card text-white bg-success mb-3">
              <div class="card-body">
                <h5 class="card-title"><i class="fas fa-user-friends"></i> Total Users</h5>
                <p class="card-text"> totalUsers </p>
              </div>
            </div>
          </div>
  
          <div class="col-md-3" (click)="navigateToBus()">
            <div class="card text-white bg-warning mb-3">
              <div class="card-body">
                <h5 class="card-title"><i class="fas fa-plus-circle"></i> Add Buses</h5>
                <p class="card-text">Add buses here!</p>
              </div>
            </div>
          </div>
  
          <div class="col-md-3" (click)="navigateToVehicle()">
            <div class="card text-white bg-danger mb-3">
              <div class="card-body">
                <h5 class="card-title"><i class="fas fa-plus-square"></i> Add Vehicles</h5>
                <p class="card-text">Add vehicles here! </p>
              </div>
            </div>
          </div>
        </div>
  
        <!-- User Table -->
        <h3 class="mt-4 text-center"><i class="fas fa-users"></i> Recent Users</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th><i class="fas fa-user"></i> Name</th>
              <th><i class="fas fa-envelope"></i> Email</th>
              <th><i class="fas fa-phone"></i> Phone No</th>
              <th><i class="fas fa-user-tag"></i> User Role</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ user.firstName }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.phoneNo }}</td>
              <td>{{ user.role }}</td>
            </tr>
          </tbody>
        </table>
      </main>
    </div>
  </div>
  