<div class="container mt-4">
    <h2>Add Fare</h2>
    <form #fareForm="ngForm" (ngSubmit)="onSubmit(fareForm)">
      
      <div class="form-group">
        <label for="busRouteId">Route</label>
        <select id="busRouteId" class="form-control" name="busRouteId" [(ngModel)]="fareData.busRouteId" required>
          <option *ngFor="let route of busRoutes" [value]="route.id">{{ route.id }}</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="busId">Bus</label>
        <select id="busId" class="form-control" name="busId" [(ngModel)]="fareData.busId" required>
          <option *ngFor="let bus of buses" [value]="bus.busId">{{ bus.busName }}</option>
        </select>
      </div>
      
  
      <div class="form-group">
        <label for="fare">Fare Amount</label>
        <input type="number" id="fare" class="form-control" 
        name="fare" [(ngModel)]="fareData.fare" required placeholder="Enter fare amount" />
      </div>
  
      <button type="submit" class="btn btn-primary mt-3" [disabled]="!fareForm.valid">Submit</button>
    </form>
  </div>
  